<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/admin-panel/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="~/admin-panel/#">
                        <span class="block m-t-xs font-bold">Said Gülmez</span>
                        <span class="text-muted text-xs block">Bilgisayar Mühendisi <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="~/admin-panel/profile.html">Profil</a></li>
                        <li><a class="dropdown-item" href="~/admin-panel/contacts.html">İletişim</a></li>
                        <li><a class="dropdown-item" href="~/admin-panel/mailbox.html">Mail Kutusu</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="~/admin-panel/login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    U
                </div>
            </li>
            <li>
                <a href="/Admin/Admin/Index"><i class="fa fa-th-large"></i> <span class="nav-label">Panel</span></a>
            </li>
            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-group"></i> <span class="nav-label">Kategoriler</span>  </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span>  </a>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-table"></i> <span class="nav-label">İstatistikler</span></a>
            </li>
            <li>
                <a href="~/admin-panel/mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="~/admin-panel/mailbox.html">Inbox</a></li>
                    <li><a href="~/admin-panel/mail_detail.html">Email view</a></li>
                    <li><a href="~/admin-panel/mail_compose.html">Compose email</a></li>
                    <li><a href="~/admin-panel/email_template.html">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrikler</span>  </a>
            </li>

            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-print"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>
            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span>  </a>
            </li>
            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-gear"></i> <span class="nav-label">Ayarlar</span>  </a>
            </li>
            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-mobile-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>
            <li>
                <a href="~/admin-panel/metrics.html"><i class="fa fa-address-book"></i> <span class="nav-label">Hakkımızda</span>  </a>
            </li>
        </ul>
    </div>
</nav>