<div class="tech-btm">
    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Haberler için abone olun</h4>
    <p><strong>Bloglarımızdan haber almak isterseniz abone olun.</strong></p>
    <form action="/Subs/SubsMail" method="post">
        <input type="email" placeholder="ornek@gmail.com" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("SubsMail").click(function () {

            var ID = $("#MailID").val();
            $.ajax({
                url: '/Subs/SubsMail' + ID,
                type: 'Post',
                dataType: 'json',
                success: function (data) {
                    $('MailID').html(data.ID);
                    $('Mail').html(data.Mail);
                    $('MailStatus').html(data.MailStatus);

                error: function (hata, ajaxOptions, thrownError) {
                        alert(hata.status);
                        alert(thrownError);
                        alert(hata.responseText);
                }
                }
            }
            )
        }

    }))

</script>