
@{
    ViewData["Title"] = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h4>Burası Yazar Profil sayfası</h4>
<br />
<h2>
    Hoşgeldiniz @ViewBag.v2
</h2>
<br />
<h2>
    @ViewBag.v1
</h2>