@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<body>
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/coreblogtema/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Yazar Blog Websitesi - ASP.NET MVC Core Projesi
                        </h3>
                        <p>
                            <strong>
                                @foreach (var item in Model)
                                {
                                    @item.AboutDetails1;
                                    <br />
                                    <br />
                                    @item.AboutDetails2;
                                }
                            </strong>
                        </p>
                    </div>
                </div>
                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        @await Html.PartialAsync("~/Views/Subs/SubsMail.cshtml")
                        @await Html.PartialAsync("~/Views/About/SocialMedia.cshtml")
                        @await Component.InvokeAsync("WriterLastBlogs")
                    </div>
                </aside>
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
</body>
</html>

