@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Said Blog - Admin Paneli</title>

    <link href="~/admin-panel/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin-panel/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin-panel/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/admin-panel/css/animate.css" rel="stylesheet">
    <link href="~/admin-panel/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        @await Html.PartialAsync("~/Views/Admin/AdminNavbarPartial.cshtml")

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="~/admin-panel/#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Bir şeyler ara.." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Admin Paneline Hoşgeldin.</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="~/admin-panel/#">
                                <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a class="dropdown-item float-left" href="~/admin-panel/profile.html">
                                            <img alt="image" class="rounded-circle" src="~/admin-panel/img/a7.jpg">
                                        </a>
                                        <div class="media-body">
                                            <small class="float-right">46 saat önce</small>
                                            <strong>Said Gülmez</strong> yeni üye oldu. <br>
                                            <small class="text-muted">3 Gün önce</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="~/admin-panel/mailbox.html" class="dropdown-item">
                                            <i class="fa fa-envelope"></i> <strong>Tüm Mesajları Oku</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="~/admin-panel/#">
                                <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 Yeni Üye
                                            <span class="float-right text-muted small">12 dakika önce</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server yeniden başlatıldı.
                                            <span class="float-right text-muted small">4 dakika önce</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="#" class="dropdown-item">
                                            <strong>Bütün bildirimleri gör</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="/Admin/Login/Logout">
                                <i class="fa fa-sign-out"></i> Çıkış yap
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Navigasyon</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Admin/Index">Panel</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>@ViewBag.Title</strong>
                        </li>
                    </ol>
                </div>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="float-right">
                    <strong>Admin Paneli</strong>
                </div>
                <div>
                    <strong>Copyright</strong> Said Blog &copy; @DateTime.Now.Year
                </div>
            </div>

        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="~/admin-panel/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin-panel/js/popper.min.js"></script>
    <script src="~/admin-panel/js/bootstrap.js"></script>
    <script src="~/admin-panel/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/admin-panel/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="~/admin-panel/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/admin-panel/js/inspinia.js"></script>
    <script src="~/admin-panel/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="~/admin-panel/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="~/admin-panel/js/demo/peity-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    @await RenderSectionAsync("scripts", required:false)
</body>
</html>
